 body {
    background-image: linear-gradient(grey, darkgrey, black);
    height: 100vh;
}

h1 {
    font-size: 4rem;
    color: white;
}

.page-cnt {
    padding-top: 60px;
}

h3 {
    font-size: 2rem;
    color: grey;
}